	<!DOCTYPE html>
	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Cadastro Produto</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	</head>
	<body>

	

	<title>Byron Store</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	</head>
	<div class="multi-bg-example">
	  <header>
	    <h1 class = "p-3 mb-2 bg-danger text-white text-center" style="font-family:verdana;">Byron Store</h1>
	  </header>
	  <body>

		<div>
			<a>|</a>
			<a href ="/" type="button" class="btn btn-outline-dark btn-lg">Home</a>
			<a>|</a>
			<a href ="/mnuproduto" type="button" class="btn btn-outline-dark btn-lg">Produtos</a>
			<a>|</a>
			<a href ="/mnuempresa" type="button" class="btn btn-outline-dark btn-lg">Empresas</a>
			<!-- <a>|</a>
			<a href ="/" type="button" class="btn btn-outline-dark btn-lg">Busca</a> -->
		  </div>

	    <div>
	      <h2 class="text-center" style="color:Tomato;">Cadastro de produto</h2>
	    </div>

		<div class="container">
			<!-- <form name="form" id="form" method="POST">
			{% csrf_token %}	 -->
			<form name="form" id="form" method="POST" action="{% if produtos %}/updateproduto/{{ produtos.id }}/{% else %}/cdtproduto/{% endif %}">
				{% csrf_token %}

				<div class="form-group mt-4">Código: {{ form.codigopdt_cmp }}</div>
				<div class="form-group mt-4">Nome: {{ form.nomepdt_cmp }}</div>
				<div class="form-group mt-4">Descrição: {{ form.descpdt_cmp }}</div>
		
				<div class="container text-center" >
					<button type="submit" class="btn btn-danger btn-lg">Cadastrar Produto</button>
				</div>
		
			</form>
		</div>
<!-- 	
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Código" aria-label="Código" aria-describedby="codigopdt_cmp" id=cadastro_produto.codigopdt_cmp>
		</div>
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Nome do produto" aria-label="Nome do produto" aria-describedby="nomepdt_cmp" id=cadastro_produto.nomepdt_cmp>
		</div>
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="senhaemp_cmp" id=cadastro_produto.senhaemp_cmp>
		</div>

		<div class="input-group mb-3">
	        <textarea type="text" class="form-control" placeholder="Descrição" aria-label="Descrição" id=cadastro_produto.descpdt_cmp ></textarea>
		</div>

	  <div class="container text-center" >
		  <button type="submit" class="btn btn-danger btn-lg">Cadastrar</button>
	  </div> -->
		<!-- </form> -->

	</body>
	</html>