<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byron Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<div class="multi-bg-example">
  <header>
    <h1 class = "p-3 mb-2 bg-danger text-white text-center" style="font-family:verdana;">Byron Store</h1>
  </header>
  <body>

    <div>
      <a>|</a>
      <a href ="/" type="button" class="btn btn-outline-dark btn-lg">Home</a>
      <a>|</a>
      <a href ="/mnuproduto" type="button" class="btn btn-outline-dark btn-lg">Produtos</a>
      <a>|</a>
      <a href ="/mnuempresa" type="button" class="btn btn-outline-dark btn-lg">Empresas</a>
      <!-- <a>|</a>
      <a href ="/" type="button" class="btn btn-outline-dark btn-lg">Busca</a> -->
    </div>
    <br><br>

    <!-- <div class="col-8 m-auto pt-3 pb-2 text-center">
      <form action="" method="GET">
        <input type="text" id="search empresas" name="search empresas"
        class="form-control" placeholder="Buscar empresas...">
      </form>
    </div> -->

    <div>
      <h1 class = "text-white bg-dark text-center">Empresas</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <a href ="/cdtempresa" class ="btn btn-success bg-dark">Cadastrar Empresa</a>
	    <a href ="/cdtproduto" class ="btn btn-success bg-dark">Cadastrar Produto</a>
    </div>

  </body>
</div>
</html>